@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

body  {
    background: rgb(255, 247, 209);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;

}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem 0;
    width: 100%;
    
}

.campo label{
    font-size: 1.275rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input, .campo textarea{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1rem;
    border-bottom: 1px solid rebeccapurple;
    background-color: rgb(255, 247, 209);
}

button{
    width: 42%;
    padding: .5rem;
    margin-top: 1rem;
    font-size: 1.250rem;
    border-radius: 1rem;
    border: 2.5px solid rebeccapurple;
    background: transparent;
    transition: .3s;
}

.links:hover{
    color: darkslategrey;
    }

button:hover{
    background: rebeccapurple;
}

.font{
    font-size: 25px;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}

.img{
    border-radius: 50%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.70rem;
}

.container2{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: left;
    justify-content: flex-start;
    font-size: 2rem;
    padding-bottom: 5rem;
}

.container3{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: left;
    justify-content: flex-start;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 2.15rem;
    padding-bottom: 6rem;
}

#menu li{
    display: inline;
    padding: 15px;
    
}

#menu li a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#menu li a:hover{
    color: rgb(111, 0, 255);
}

.p-30{
    padding: 1.875rem;
    font-size: 1.5rem;
}

.br-50{
    border-radius: 50%;
}

.wh-300{
    width:18.75rem ;
    height: 18.75rem;
}

.tm-rs{
    width: 3.125rem;
    height: 3.125rem;
}

.mb-50{
    margin-bottom: 3.125rem;
}

.ml-50{
    margin-left: 3.125rem;
}

.contato{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}